/*Configuraciones generales*/
* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #8E0F19;
    width: 100%;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Poppins', sans-serif;
}

/*Mobile header*/
.group-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.icon-menu {
    width: 50px;
}

.icon-logo {
    width: 120px;
}

.group-header-destokp {
    display: none;
}

.header-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 396;
}

/*Banner*/
.banner {
    background-image: url(Imagenes/Banner\ Index1,1.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;

    animation: moverBanner 8s ease-in-out infinite alternate;
    background-repeat: no-repeat;
}

@keyframes moverBanner {
    from {
        background-position: 30% 0%;
    }

    to {
        background-position: 60% 40%;
    }
}

/*Banner text*/
.banner-title {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 25px;
    color: #631613;
    font-style: italic;
}

.banner-subtitle {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #8E0F19;
}

.banner-group-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 100px;

}

/*Tablets*/
@media (min-width: 750px) {
    /*banner*/
    .banner {
        height: 500px;
        animation: moverBanner 5s ease-in-out infinite alternate;
    }

    @keyframes moverBanner {
        from {
            background-position: 0% 40%;
        }

        to {
            background-position: 50% 30%;
        }
    }

    /*Banner text*/
    .banner-title {
        font-size: 64px;
    }

    .banner-subtitle {
        font-size: 64px;
    }

    .banner-group-text {
        left: 160px;
        width: 430px;
        height: 250px;
    }
}


/*computador*/
@media (min-width: 900px) {

    /*Header*/
    .group-header-Movil {
        display: none;
    }

    .group-header-destokp {
        display: flex;
    }

    .group-header-elements {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .group-header {
        padding: 10px 30px;
    }

    /*banner*/
    .banner {
        height: 600px;
        animation: moverBanner 10s ease-in-out infinite alternate;
    }

    @keyframes moverBanner {
        from {
            background-position: left center;
        }

        to {
            background-position: right center;
        }
    }

    /*Banner text*/
    .banner-title {
        font-size: 64px;
    }

    .banner-subtitle {
        font-size: 64px;
    }

    .banner-group-text {
        left: 160px;
        width: 430px;
        height: 250px;
    }
}