/*Configuraciones generales*/
* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #8E0F19;
    width: 100%;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'poppins', sans-serif;
}

/*Mobile header*/
section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.group-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.icon-menu {
    width: 50px;
}

.icon-logo {
    width: 120px;
}

.group-header-destokp {
    display: none;
}

.header-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 396;
}
.header-text:hover{
    text-decoration: underline;
}
