/*Configuraciones generales*/
* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #8E0F19;
    width: 100%;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'poppins', sans-serif;
}

/*Mobile header*/
section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.group-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.icon-menu {
    width: 50px;
}

.icon-logo {
    width: 120px;
}

.group-header-destokp {
    display: none;
}

.header-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 396;
}

.header-text:hover {
    text-decoration: underline;
}

#menu {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0px;
    right: -300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: right 0.5s ease-in-out;
    padding: 80px 20px;
    z-index: 10;
    gap: 20px;
    background-color: #8E0F19;
    width: 200px;
    height: 100vh;
}

.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease;

    z-index: 98;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#menu.active {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: right 0.3s ease;
    padding: 80px 20px;
    z-index: 99;
    gap: 20px;
    background-color: #8E0F19;
    width: 300px;
    height: 100vh;

}

/*Banner princiapal regalos*/
.banner-principal-regalos {
    background-image: url(../Imagenes/Banner\ regalo\ principal.png);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

/*Seccion de sub titulo y filtros*/
.vitrina-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 90%;
    gap: 15px;
    align-items: center;

    box-sizing: border-box;
}

.vitrina-title {
    color: #616161;
    font-family: 'poppins', sans-serif;
    font-size: 16px;

}

.vitrina-title-line {
    width: 36px;
    color: #8E0F19;
}

.vitrina-category {
    border: 1px solid #5F5F5F;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    /* centra vertical */
    justify-content: center;
    /* centra horizontal */

    grid-row: 2;
}

.vitrina-category-categoriesG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vitrina-subcategory {
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    height: 30px;
    width: 90%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    color: #616161;
    font-size: 12px;
}

.vitrina-category-groupRango {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 20px;
}

.vitrina-category-iconDesp {
    width: 10px;
}

.vitrina-category-rango {
    grid-column: 1 / 3;
    grid-row: 3;
}

.vitrina-category-rangeBase {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #ECEBEC;

    position: relative;
}

.vitrina-category-rangeBaseFill {
    position: absolute;
    background-color: #8E0F19;
    left: 20%;

    width: 40%;
    height: 10px;
}

.vitrina-category-rangoCircle {
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #8E0F19;

    width: 15px;
    height: 15px;
}

.rangoLeft {
    z-index: 3;
    left: 18%;
    bottom: -3px;

}

.rangoRight {
    left: 58%;
    bottom: -3px;
}

.vitrina-category-textRango {
    font-family: 'poppins', sans-serif;
    color: #616161;
    text-align: right;
    font-size: 12px;
}

/*Vitrina de productos*/
.vitrina-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.vitrina-prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 20px);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);


    width: 165px;
    height: 200px;
    border-radius: 5px;

    background-position: center;
    background-size: cover;

    transition: 0.3s;
}

.vitrina-prod:hover {
    transform: scale(1.03);

}

.vitrina-prod-title {
    grid-column: 1/3;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #8E0F19;
    justify-self: center;
    align-self: center;
}

.vitrina-producto-stock {
    font-family: 'poppins', sans-serif;
    font-size: 10px;
    text-align: center;
    color: #616161;
}

.vitrina-disponible-circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #AFD210;

}

.vitrina-stock {
    grid-column: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    justify-self: center;
    align-self: center;
}

.vitrina-prod-price {
    text-align: start;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    color: #8E0F19;

    justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 10;
}

/*Productos url*/
.vitrina-prod-rubor {
    background-image: url(../Imagenes/rubor\ producto.svg);
}

.vitrina-prod-oso {
    background-image: url(../Imagenes/oso\ peluche.svg);
}

.vitrina-prod-vaso {
    background-image: url(../Imagenes/vaso\ stanly.svg);
}

.vitrina-prod-dino {
    background-image: url(../Imagenes/dino\ peluche.svg);
}

.vitrina-prod-colonia {
    background-image: url(../Imagenes/colonia\ mujer.svg);
}

.vitrina-prod-girasoles {
    background-image: url(../Imagenes/ramo\ girasoles.svg);
}

.vitrina-prod-llavero {
    background-image: url(../Imagenes/llavero\ gatos.svg);
}

.vitrina-prod-pinguino {
    background-image: url(../Imagenes/pinguino\ peluche.svg);
}

/*Canastaaaaaaaaaaaaaaa*/
.base-videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 90%;
}

.canasta-primera-parte {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 2fr;
    gap: 5px;
}

.canasta-primera-segunda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 2.5fr 30px;
    gap: 5px;
}

.canasta-video-title {
    background-color: #FD7502;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.canasta-img {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.canasta-imagen-base {
    border: 1px solid #FD7502;
    border-radius: 0 0 10px 10px;
}

.base-productos-canasta {
    border: 1px;
    border: 1px solid #FD7502;
    border-radius: 0 0 10px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    padding: 10px 40px;
    gap: 4px;
}

.btn-canasta {
    border-radius: 10px;
    background-color: #FD7502;
    border: none;
    font-family: 'poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.group-precio-canasta {
    display: none;
}

.base-productos-canasta-ind {
    width: 100%;
    height: 100%;
    grid-column: 1/3;

    border: 1px solid #F8EDE3;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    border-radius: 5px;
    gap: 5px;
    padding-right: 5px;
}

.base-productos-precio {
    border: 1px;
    border: 1px solid #FD7502;
    border-radius: 10px;
}

.img-producto {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    grid-row: 1/3;
}

.girasol {
    background-image: url(../Imagenes/ramo\ girasoles.svg);
}

.pinguino {
    background-image: url(../Imagenes/pinguino\ peluche.svg);
}

.vaso {
    background-image: url(../Imagenes/vaso\ stanly.svg);
}

.p-canasta-producto {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    color: #616161;
    grid-row: 1/3;

    align-self: center;
}

.base-productos-precio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 10px;

    align-self: center;
}

.precio-canasta {
    color: #616161;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    text-align: center;
    justify-self: start;
    padding: 0px 20px;

}

.color-canasta-anaranjado {
    color: #FD7502;
    font-weight: bold;
    justify-self: end;
}

.btn-eliminar-producto-canasta {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background: url(../Imagenes/eliminar\ productosvg.svg),
        #FD7502;
    border: none;
    grid-column: 3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

/*Banner preferenciales*/
.banner-preferenciales {
    background-image: url(../Imagenes/Banner\ preferenciales\ dulceria.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.banner-preferenciales-text {
    grid-column: 1/4;
    grid-row: 1/9;

    justify-self: center;
    align-self: center;
    z-index: 1;
}

.banner-prefe-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    color: #7A5B33;
    text-align: center;
    font-style: italic;

}

.banner-icon-desc {
    background-image: url(../Imagenes/tarjeta-banner.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;

    grid-column: 4/6;
    grid-row: 3;

    animation: moverTarjetaDesc 3s ease-in-out infinite alternate;

}

@keyframes moverTarjetaDesc {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}

/*Delivery section*/
.delivery-base {
    height: 150px;
    width: 90%;

    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.line-delivery {


    width: 100px;
    border: none;
    height: 1px;

    background: linear-gradient(to right,
            transparent,
            #FFAC16,
            transparent);
    align-self: center;
    grid-column: 7/8;
    grid-row: 2;
}

.img-camion {
    background-image: url(../Imagenes/delivery\ camion\ azul.png);
    background-position: center 5px;
    background-size: cover;
    z-index: 3;
    grid-row: 1/9;
    grid-column: 1/6;
    width: 200px;
}

.img-cajas {
    display: none;
    background-image: url(../Imagenes/boxes\ delivery.png);
    background-position: center;
    background-size: cover;
    grid-column: 1/4;
    grid-row: 3/9;
}

.btn-delivery {
    border: none;
    background: linear-gradient(to right,
            #0B56C1,
            #46A0DF,
            #5BBBEB,
            #7BE3FB);
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    grid-column: 6/9;
    grid-row: 9/6;
    font-family: 'poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;
}

.title-delivery {
    font-family: 'poppins', sans-serif;
    color: #616161;
    font-weight: bold;
    grid-column: 6/9;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
}

.p-delivery {
    font-size: 8px;
    font-family: 'poppins', sans-serif;
    text-align: justify;

    grid-column: 6/9;
    grid-row: 2/7;
    justify-self: center;
    align-self: center;
    padding: 0px 30px;
}

/*footer*/
footer {
    margin-top: 30px;
    display: grid;
    width: 100%;
    gap: 20px;
    padding: 30px 0px;

    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: #8E0F19;
}

.footer-line {
    justify-self: center;
    align-self: center;
    width: 80%;
}

.footer-text {
    justify-self: center;
    align-self: center;
    color: white;
}

.footer-logo {
    justify-self: center;
    align-self: center;
}

.footer-icons {
    justify-self: center;
    align-self: center;

    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {

    .base-videos {
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 15px;
    }

    .canasta-primera-parte {
        grid-template-rows: 45px auto;
    }

    .canasta-primera-segunda {
        grid-template-rows: 45px auto auto;
    }

    .canasta-video-title {
        font-size: 18px;
        border-radius: 15px 15px 0 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .canasta-producto-img {
        width: 90%;
        height: auto;
    }

    .canasta-imagen-base {
        border-radius: 0 0 15px 15px;
        padding: 15px;
    }

    .base-productos-canasta {
        padding: 10px 15px;
        border-radius: 0 0 15px 15px;
    }

    .base-productos-canasta-ind {
        grid-template-columns: 50px 1fr 20px;
        height: 65px;
        column-gap: 8px;
        padding: 0 8px;
    }

    .p-canasta-producto {
        width: auto;
        font-size: 14px;
    }

    .p2-canasta-producto {
        width: auto;
        font-size: 11px;
    }

    .base-productos-precio {
        height: 55px;
        padding: 0 15px;
        margin-top: 8px;
        border-radius: 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .precio-canasta {
        font-size: 22px;
        padding: 0;
    }

    .btn-canasta {
        height: 40px;
        font-size: 12px;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .btn-canasta:first-of-type {
        margin-right: 10px;
    }

    .btn-eliminar-producto-canasta {
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
    }

    .img-botones {
        width: 18px;
        height: 18px;
    }

    .group-precio-canasta {
        font-size: 10px;
    }
}


/*Termina movil*/
/*Tablets*/
@media (min-width: 750px) {
    /*Canasta videos - Tablet*/

    .base-videos {
        width: 95%;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .canasta-primera-parte {
        grid-template-rows: 55px auto;
    }

    .canasta-primera-segunda {
        grid-template-rows: 55px auto auto;
    }

    .canasta-video-title {
        font-size: 24px;
        border-radius: 20px 20px 0 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .canasta-producto-img {
        width: 85%;
        height: auto;
    }

    .canasta-imagen-base {
        padding: 20px;
        border-radius: 0 0 20px 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .base-productos-canasta {
        padding: 15px;
        border-radius: 0 0 20px 20px;
    }

    .base-productos-canasta-ind {
        grid-template-columns: 55px 1fr 22px;
        height: 70px;
        column-gap: 10px;
        padding: 0 10px;
    }

    .p-canasta-producto {
        width: auto;
        font-size: 16px;
    }

    .p2-canasta-producto {
        width: auto;
        font-size: 12px;
    }

    .base-productos-precio {
        height: 60px;
        padding: 0 15px;
        margin-top: 8px;
        border-radius: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .precio-canasta {
        font-size: 26px;
        padding: 0;
    }

    .btn-canasta {
        height: 45px;
        font-size: 13px;
        border-radius: 22px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .btn-canasta:first-of-type {
        margin-right: 10px;
    }

    .btn-eliminar-producto-canasta {
        width: 20px;
        height: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-botones {
        width: 20px;
        height: 20px;
    }

    .group-precio-canasta {
        font-size: 11px;
    }

    /*Vitrina de productos*/
    .vitrina-productos {
        grid-template-columns: repeat(3, 1fr);
    }

    .vitrina-prod {
        width: 210px;
        height: 250px;
        border-radius: 10px;
        grid-template-rows: repeat(15, 1fr);

    }

    .vitrina-prod-title {
        font-size: 16px;
    }

    .vitrina-producto-stock {
        font-size: 12px;
    }

    .vitrina-disponible-circle {
        width: 8px;
        height: 8px;
    }

    .vitrina-prod-price {
        grid-row: 15;
        grid-column: 1;
        font-size: 16px;
    }

    /*Banner clientes preferenciles*/
    .banner-preferenciales {
        height: 200px;
    }

    .banner-preferenciales-text {
        grid-column: 1/4;
        grid-row: 1/6;

        justify-self: center;
        align-self: center;
    }

    .banner-prefe-text {
        font-size: 50px;
    }

    .banner-icon-desc {
        width: 150px;
        height: 150px;

        grid-column: 4/5;
        grid-row: 3;
    }

    /*delivery card*/
    .delivery-base {
        width: 90%;
        height: 250px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .img-camion {
        grid-column: 1/5;
        grid-row: 1/9;
        width: 400px;
        background-size: cover;
        background-position: center;
    }

    .img-cajas {
        display: flex;
        grid-column: 1/3;
        grid-row: 4/9;
        background-size: cover;
        background-position: center 15px;
        z-index: 3;
    }

    .title-delivery {
        grid-column: 5/9;
        font-size: 20px;
        padding-top: 15px;
        padding-left: 0;
    }

    .line-delivery {
        grid-column: 5/9;
        background: linear-gradient(to right,
                transparent,
                #031A73,
                transparent);
        width: 250px;
    }

    .p-delivery {
        grid-column: 5/9;
        grid-row: 3/7;
        font-size: 18px;
        color: #616161;
        padding: 0 15px;
    }

    .btn-delivery {
        grid-column: 5/9;
        grid-row: 7/9;
        width: 120px;
        height: 35px;
        font-size: 20px;
    }

    /*footer*/
    footer {
        gap: 30px;
    }

    .footer-text {
        font-size: 20px;
    }

    .footer-logo {
        height: 100px;
    }

}

/*escritorio*/
@media (min-width: 900px) {
    section {
        gap: 60px;
    }

    /*Header*/
    .group-header-Movil {
        display: none;
    }

    .group-header-destokp {
        display: flex;
    }

    .group-header-elements {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    /*Banner principal*/
    .banner-principal-regalos {
        height: 600px;
    }

    /*Seccion de sub titulo y filtros de vitrina*/
    .vitrina-group {
        display: grid;

        justify-self: center;
        align-self: center;
        grid-template-columns: 1fr 315px 315px 315px;
        grid-template-rows: 60px;
        gap: 15px;
    }

    .vitrina-category-categoriesG {
        gap: 9px;
    }

    .vitrina-title {
        font-size: 40px;
    }

    .vitrina-categories-Icon {
        height: 26px;
        width: 27px;
    }

    .vitrina-title-line {
        width: 89px;
    }

    .vitrina-category {
        border: 1px solid #5F5F5F;
        height: 60px;
        width: 100%;
        border-radius: 10px;
        grid-row: 1;
    }

    .vitrina-subcategory {
        height: 40px;
        padding: 20px;
        font-size: 20px;
    }

    .vitrina-category-groupRango {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0px 20px;
    }

    .vitrina-category-iconDesp {
        width: 20px;
    }

    .vitrina-category-rango {
        grid-column: 1 / 3;
        grid-row: 1;
        grid-column: 2;

    }

    .vitrina-category-rangeBase {
        width: 100%;
        height: 10px;
        border-radius: 10px;
        background-color: #ECEBEC;

        position: relative;
    }

    .vitrina-category-rangeBaseFill {
        position: absolute;
        background-color: #8E0F19;
        left: 16px;

        width: 70%;
        height: 10px;
    }

    .rangoLeft {
        left: 14px;
        bottom: -2.5px;
    }

    .rangoRight {
        left: 197px;
        bottom: -2.5px;
    }

    .vitrina-category-textRango {
        font-size: 16px;
        height: 15px;

    }

    .vitrina-title-group {
        grid-row: 1;
        grid-column: 1;
    }

    .group-header {
        padding: 10px 30px;
    }

    /*Vitrina de productos*/
    .vitrina-productos {
        grid-template-columns: repeat(4, 1fr);
    }

    .vitrina-prod {
        width: 328px;
        height: 382px;
        border-radius: 10px;
        grid-template-rows: repeat(15, 1fr);
        padding: 9px 0px;

    }

    .vitrina-prod-title {
        font-size: 20px;
    }

    .vitrina-producto-stock {
        font-size: 12px;
    }

    .vitrina-disponible-circle {
        width: 8px;
        height: 8px;
    }

    .vitrina-prod-price {
        grid-row: 15;
        grid-column: 1;
        font-size: 20px;
    }

    /*Canasta videos*/
    .base-videos {
        width: 95%;
        grid-template-columns: 915px 455px;
        grid-template-rows: 1fr;
        gap: 10px;

    }


    .canasta-video-title {
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 40px 40px 0 0;
    }

    .canasta-primera-parte {
        grid-template-rows: 73px 2fr;
        border-radius: 0 0 40px 40px;
        gap: 0px;


    }

    .canasta-primera-segunda {
        grid-template-rows: 73px 429px auto;
        gap: 0px;

    }

    .canasta-producto-img {
        width: 675px;
        height: 367px;
        object-fit: contain;
        justify-self: center;

        justify-self: center;
        align-items: center;
    }

    .canasta-imagen-base {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .group-precio-canasta {
        grid-row: 2/3;
        grid-column: 2/2;

        font-size: 12px;
    }

    .p2-canasta-producto {
        font-size: 14px;
        color: #616161;
        font-family: 'poppins', sans-serif;
        width: 226px;

    }

    .base-productos-canasta {
        padding: 20px 44px;
        gap: 0px;
        border-radius: 0 0 40px 40px;

    }

    .btn-canasta {
        font-size: 14px;
        height: 57px;
        border-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .base-productos-canasta-ind {
        display: grid;
        grid-template-columns: 65px 1fr 28px;
        align-items: center;

        height: 80px;
        padding: 0 10px;
        column-gap: 12px;
    }

    .p-canasta-producto {
        grid-row: 1/2;
        grid-column: 2/2;
        font-size: 20px;
        width: 226px;
    }

    .base-productos-precio {
        padding: 0 30px;
        height: 80px;
        margin-top: 10px;
        border-radius: 40px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .precio-canasta {
        font-size: 36px;
        padding: 0 10px;
    }

    .canasta-imagen-base {
        border-radius: 0 0 40px 40px;
    }

    .btn-eliminar-producto-canasta {
        width: 24px;
        height: 24px;

        background-position: center;
        background-size: cover;

        align-self: center;
        justify-self: right;
    }

    .btn-canasta:first-of-type {
        margin-right: 20px;
    }

    .img-botones {
        width: 25px;
        height: 25px;
    }

    /*Banner clientes preferenciles*/
    .banner-preferenciales {
        height: 200px;
    }

    .banner-preferenciales-text {
        grid-column: 1/4;
        grid-row: 1/6;

        justify-self: center;
        align-self: center;
    }

    .banner-prefe-text {
        font-size: 50px;
    }

    .banner-icon-desc {
        width: 150px;
        height: 150px;

        grid-column: 4/5;
        grid-row: 3;
    }

    /*delivery card*/
    .delivery-base {
        width: 90%;
        height: 250px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .img-camion {
        grid-column: 1/5;
        grid-row: 1/9;
        width: 400px;
        background-size: cover;
        background-position: center;
    }

    .img-cajas {
        display: flex;
        grid-column: 1/3;
        grid-row: 4/9;
        background-size: cover;
        background-position: center 15px;
        z-index: 3;
    }

    .title-delivery {
        grid-column: 5/9;
        font-size: 20px;
        padding-top: 15px;
        padding-left: 0;
    }

    .line-delivery {
        grid-column: 5/9;
        background: linear-gradient(to right,
                transparent,
                #031A73,
                transparent);
        width: 250px;
    }

    .p-delivery {
        grid-column: 5/9;
        grid-row: 3/7;
        font-size: 18px;
        color: #616161;
        padding: 0 15px;
    }

    .btn-delivery {
        grid-column: 5/9;
        grid-row: 7/9;
        width: 120px;
        height: 35px;
        font-size: 20px;
    }

    /*Preferenciales banner*/
    .banner-preferenciales {
        height: 450px;
    }

    .banner-prefe-text {
        font-size: 100px;
    }

    .banner-icon-desc {
        width: 300px;
        height: 300px;

        grid-column: 4/5;
        grid-row: 3;

        justify-self: center;
        align-self: center;
    }

    /*Delivery Card*/
    .delivery-base {
        padding: 0px 60px;
        height: 366px;
        width: 90%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .img-camion {
        grid-column: 2/6;
        grid-row: 1/9;
        background-size: cover;
        background-position: center -30px;
        width: 580px;
        height: 450px;


    }

    .img-cajas {
        grid-column: 1/3;
        grid-row: 3/8;
        background-size: cover;
        background-position: center -15px;
        z-index: 3;
    }

    .title-delivery {
        grid-column: 6/9;
        font-size: 40px;
        justify-self: center;
        width: 90%;


    }

    .line-delivery {
        grid-column: 6/9;
        width: 302px;
        justify-self: center;

    }

    .p-delivery {
        grid-column: 6/9;
        grid-row: 2/6;
        font-size: 24px;
        color: #616161;
        width: 85%;
        justify-self: center;


    }

    .btn-delivery {
        grid-column: 6/9;
        grid-row: 6/7;
        width: 300px;
        height: 50px;
        border-radius: 30PX;
        font-size: 24px;
    }

    /*footer*/
    footer {
        margin-top: 60px;
        grid-template-columns: 201.89px 1px 224px 1px 189.57px 1px 320px;
        gap: 80px;
        height: 200px;
        align-items: start;
    }

    .footer-line {
        height: 100%;
        width: 1px;
    }

    .footer-text {
        font-size: 22px;
        text-align: center;
        width: 230px;
    }

    .footer-icon {
        width: 53.46px;
        height: 53.46px;
    }

    .footer-logo {
        width: 201.89px;
        height: 116.24px;

    }

    .footer-group-tex {
        font-family: 'poppins', sans-serif;
        gap: 20px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        gap: 30px;
    }

}